/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/build/
/JavaFXApplication2/dist/
/Downloader/nbproject/private/
/Downloader/build/
/Downloader/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/